{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Guvenlux</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/logo.png">
    <link rel="shortcut icon" type="image/png" href="/media/logo.png">
    <meta name="msapplication-TileImage" content="/media/logo.png">
    <meta name="theme-color" content="#ffffff">

    <link href="{% static 'vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/hamburgers/hamburgers.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/loaders.css/loaders.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:ital,wght@0,100..900&amp;display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="fixed-top">
      <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-freya navbar-light"> 
          <a class="navbar-brand" href="{% url 'index' %}">
            <div class="freya-logo" style="background: none;">
              <img src="/media/logo.png" alt="Guvenlux Logo" style="max-height: 50px; width: auto; display: inline-block;">
            </div>
          </a>
          <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavbarCollapse" aria-controls="primaryNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger hamburger--emphatic">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
            <ul class="navbar-nav py-3 py-lg-0 mt-1 mb-2 my-lg-0 ms-lg-n1">
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'index' %}" role="button" aria-expanded="false">Ana Səhifə</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about-page' %}">Haqqımızda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-page' %}">Əlaqə</a>
              </li>
              <!-- MENYUDA DUZƏLİŞ -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-indicator" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Məhsullar</a>
                <ul class="dropdown-menu">
                  {% for cat in main_categories %}
                  <li>
                    <a class="dropdown-item" href="{% url 'subcategories-by-category' category_slug=cat.slug %}">
                      {{ cat.name }}
                    </a>
                  </li>
                  {% empty %}
                  <li><span class="dropdown-item text-muted">Heç bir kateqoriya yoxdur</span></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ms-lg-auto flex-row justify-content-center py-3 py-lg-0 me-n2">
              <li><a class="nav-link px-2" href="index.html#"><span class="fab fa-facebook-f" data-fa-transform="shrink-2"></span></a></li>
              <li><a class="nav-link px-2" href="index.html#"><span class="fab fa-whatsapp" data-fa-transform="shrink-2"></span></a></li>
              <li><a class="nav-link px-2" href="index.html#"><span class="fab fa-instagram" data-fa-transform="shrink-2"></span></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
 
    <main class="main" id="top">
      <div class="preloader" id="preloader">
        <div class="loader-box">
          <div class="loader"></div>
        </div>
      </div>
    <section class="py-0">
<div class="swiper theme-slider min-vh-100" data-swiper='{"loop":true,"allowTouchMove":false,"autoplay":{"delay":5000},"effect":"fade","speed":800}'>
    <div class="swiper-wrapper">
      {% for image in background_images %}
      <div class="swiper-slide" data-zanim-timeline="{}">
        <div class="bg-holder overlay overlay-freya"
             style="background-image:url({{ image.image.url }});"
             data-parallax="data-parallax"
             data-rellax-speed="-3"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row min-vh-100 justify-content-start align-items-end pt-11 pb-6 text-white" data-zanim-timeline="{}">
            <div class="col">
              <div class="row align-items-end">
                <div class="col-lg">
                  <div class="overflow-hidden">
                    <p class="mb-1 text-uppercase ls" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.1}'>{{ image.title|default:"Başlıq" }}</p>
                  </div>
                  <div class="overflow-hidden">
                    <h2 class="text-white fw-normal mb-4 mb-lg-0 hero-heading-one-line" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0}'>{{ image.description|default:"Alt başlıq" }}</h2>
                  </div>
                </div>
                <div class="col text-lg-end">
                  <div class="overflow-hidden">
                    <div data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.2}'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </section>
        
    <section class="bg-white text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h3 class="mb-4" style="
          font-weight: 500;
          font-size: 30px;
          font-family: 'Google Sans Flex', sans-serif;
          letter-spacing: 3px;
          color: #212529;">
          Populyar məhsullar
        </h3>

      </div>
    </div>
    <div class="row mt-6 mt-lg-0">
      {% for product in popular_products %}
      <div class="col-lg-4 d-flex mb-4">
        <div class="card w-100 shadow-sm border-0 d-flex flex-column">
          <img 
            class="img-fluid mx-auto mt-3"
            src="{{ product.get_main_image_url }}" 
            alt="{{ product.name }}" 
            style="width: 300px; height: 300px; object-fit: cover; border-radius: 8px;"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="ls text-uppercase mt-3 mb-2" style="font-size: 16px;">{{ product.name }}</h5>
              <span class="ls text-uppercase mb-2 d-inline-block bg-light px-2 py-1 rounded" style="font-size: 14px;">{{ product.price }} AZN</span>
              <p class="text-justify" style="font-size: 14px; line-height: 1.6; min-height: 85px;">
                {{ product.description|truncatewords:25 }}
              </p>
            </div>
            <div class="mt-auto">
              <a href="{% url 'product-detail' product.slug %}"
                class="text-dark text-decoration-none bg-warning px-3 py-2 rounded-pill border d-inline-block"
                style="font-size: 14px;">
                Ətraflı
              </a>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
    </main>

  <!-- Footer -->
  <footer class="bg-secondary text-white pt-5 pb-4 mt-5">
  <div class="container text-center text-md-start">
    <div class="row">

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Menyu</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'index' %}" class="text-white text-decoration-none d-block mb-2">Ana sehife</a></li>
          <li><a href="{% url 'about-page' %}" class="text-white text-decoration-none d-block mb-2">Haqqımızda</a></li>
          <li><a href="{% url 'contact-page' %}" class="text-white text-decoration-none d-block mb-2">Əlaqə</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4 text-center">
        <h5 class="text-uppercase mb-3">Bizə qoşul</h5>
        <a href="#" class="text-white me-3"><span class="fab fa-facebook-f"></span></a>
        <a href="#" class="text-white me-3"><span class="fab fa-whatsapp"></span></a>
        <a href="#" class="text-white"><span class="fab fa-instagram"></span></a>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Əlaqə</h5>
        <p class="mb-1 small">Guvenlux</p>
        <p class="mb-1 small">019 Appellation Ave, New Jersey</p>
        <p class="mb-1 small">535-118-7056</p>
        <p class="mb-0 small">Template by <a class="text-white-75" href="https://themewagon.com" target="_blank">Themewagon</a></p>
      </div>

    </div>
  </div>
</footer>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'vendors/bigpicture/BigPicture.js' %}"> </script>
    <script src="{% static 'vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'vendors/rellax/rellax.min.js' %}"></script>
    <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/gsap/gsap.js' %}"></script>
    <script src="{% static 'vendors/gsap/customEase.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
  </body>

</html>
